.navbar {
  overflow: hidden;
  background-color:none;
  position:absolute;
  top: 0.5%;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px#8e0e49;
  border: 2px solid#8e0e49;
  margin-left: -145px;

}

.navbar a {
  color:black;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
}

.logo {
 height: 70px;
  margin-left: 45px;
}

.search-bar {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  width: 299px;
  margin-right: 200px; /* Adjust the margin as needed */
}
.right-section {
  display: flex;
  margin-right: 3%;
}

.right-section a {
  margin-left: 10px;
}

/* Change background on mouse-over */
.navbar a:hover {
  color:#8e0e49;

}