.row1 {
  margin-top: 8%;
}
.pa1card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 width:20%;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: -2%;
}

.pa1card:hover {
  box-shadow: 0 8px 16px 0 black;
}

.pa1im {
  border-radius: 5px 5px 0 0;
  width:100%;
}

.pa1contain {
  padding: 2px 18px;
}
.pa2card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 width:20%;
  border-radius: 5px;
  margin-top: -30.96%;
  margin-left: 27%;
}

.pa2card:hover {
  box-shadow: 0 8px 16px 0 black;
}

.pa2im {
  border-radius: 5px 5px 0 0;
  width:100%;
}

.pa2contain {
  padding: 2px 18px;
}
.pa3card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 width:20%;
  border-radius: 5px;
  margin-top: -33.1%;
  margin-left: 55%;
}

.pa3card:hover {
  box-shadow: 0 8px 16px 0 black;
}

.pa3im {
  border-radius: 5px 5px 0 0;
  width:100%;
}

.pa3contain {
  padding: 2px 18px;
}
.pa4card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 width:20%;
  border-radius: 5px;
  margin-top: -31.4%;
  margin-left: 84%;
}

.pa4card:hover {
  box-shadow: 0 8px 16px 0 black;
}

.pa4im {
  border-radius: 5px 5px 0 0;
  width:100%;
}

.pa4contain {
  padding:2px 18px;
}
