footer {
    position: fixed;
    bottom: 0;
    width: 97.2%;
    padding: 0.5em;
    left:0.5%;
    margin-bottom:0.5%;
    box-shadow: 0 0 10px #8e0e49;
    border: 2px solid #8e0e49;
  }
  
  .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icons {
    display: flex;
    font-size: 1.3em;
  }
  
  .line {
    width: 30%;
    text-align: center; 
     
  }
  
  .line hr {
    margin: 0; 
  }
  
  .f-icon {
    margin-right: 1em;
    font-size: 1.3em;
  }
  
  .copyright {
    text-align: right;
    font-size: large;
}